<md-card flex>
    <md-card-content>
        <h2>Create Goal</h2>
        <md-input-container class="md-block">
            <label>Name</label>
            <input type="text" ng-model="vm.user.username">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="vm.user.description"></textarea>
        </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-primary">Create</md-button>
            <md-button>Cancel</md-button>
        </div>
    </md-card-content>
</md-card>
